.DS_Store
.direnv/
.envrc
__pycache__
server/__pycache__
server/database.db
dcgan/__pycache__
dcgan/train_dir/
dcgan/.ropeproject/
dcgan/datasets/mnist
dcgan/datasets/svhn
dcgan/datasets/cifar10
dcgan/datasets/fashion_mnist
dcgan/*.py[cod]
dcgan/*.sw[op]
dcgan/*.hy
dcgan/*.txt
dcgan/*.gz
dcgan/*.png
dcgan/*.gif
